---
title: LU Server Projects
---

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <title>LU Server Projects</title>
    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="stylesheet" href="neon.css" type="text/css"> </head>
	<style>
        .card-header:first-child {
            height: 3.5em;
        }
        #servers .card-img-middle {
            max-height: 225px;
            padding: 15px;
            object-fit: contain;
        }
        .card-link {
            margin: 0 1.25rem;
            display: inline-block;
        }
        button.active {
            background-color:#f1cd31;
            color:#111;
            font-weight:bold;
        }
		.btn {
			background-color:rgba(51, 51, 51, 0.5);
            color:#f1cd31;
            font-weight:bold;
		}
    </style>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-info" style="font-weight: bold; position: fixed; width: 100%; z-index: 100;">
        <div class="container">
            <a class="navbar-brand" href="#home" style="font-size: 200%;">LUSP</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbar2SupportedContent" style="font-size: 130%;">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faqs">FAQs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#servers">Servers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#development-resources">Development Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-community">Community/Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="home" class="py-5 text-center">
        <div class="container" style="margin-top: 80px;">
            <div class="row">
                <div class="col-12">
                    <h1 class="display-3 text-capitalize">LU Server Projects</h1>
                    <p class="lead text-muted">Saving Imagination for All</p>
                </div>
            </div>
        </div>
    </div>
    <div id="faqs" class="py-4">
        <div class="container">
            <h2>FAQs</h2>
            <hr>
            <h3>What are LU Server Projects?</h3>
            <p> This community of projects aims to provide the capability to play the LEGO® Universe MMO, shuttered in February 2012 after a roughly one year run, through emulating the original servers. This is done thanks to the hard work of many fans in
                reverse engineering packet captures and the game client, and also opens up the possibility for further creativity through customization by dedicated fans. </p>
            <h3>Where can I get in touch with other fans, developers, and community members? Where can I ask questions</h3>
            <p> Please see <a href="#contact-community">Community/Contact</a> </p>
            <h3>How did it all start?</h3>
            <p> Around the time of the games closure, Pwjones was able to capture a significant volume of packets from the live LU servers, which were then able to be decrypted by Humanoid, who also wrote the very first server prototype playing back these
                captures. Not soon thereafter, the community began to overhype the little that was available in this implementation, and due to various reasons multiple fractures developed among the community. Multiple groups formed to work on furthering
                the understanding and implementation of LU servers, and through the formation, dissolution, and consolidation of these projects, the current major projects have come in to being, as well as paving the way for other experimental utilities
                and implementations. </p>
            <h3>Why can't everyone join forces and work on one project?</h3>
            <p>There are multiple reasons for this, including:</p>
            <ul>
                <li>Brook's Law, that is, "adding more developers to an already late project won't make it go any faster". It takes time to get people up to speed on a different set of code, a different work environment, and so on. In the end, it's possible
                    that more resources would be spent consolidating than would be gained by a merger</li>
                <li>The use of different programming languages entirely</li>
                <li>Differing ideologies and specific goals of each project</li>
		<li>Individuals want to try their own hand at building a server themselves for fun or experience</li>
                <li>Sadly, there are still lingering interpersonal issues amoung some members of the development community as well</li>
            </ul>
            <p> However, this is not to say that the projects do not collaborate at all. In fact, this is the complete opposite. There is an immense amount of communication and collaboration amoung the various teams in understanding the LU systems (for example,
                through the public documentation), building utilities, and discussing optimal implementation approaches. </p>
            <h3>What's taking so long?</h3>
            <p>Based on a previous comment by LCDR, this is probably best summed up as follows</p>
            <ul>
                <li>At the start, absolutely nothing was known about the client, the networking protocol, or much about LU's systems in general. A significant amount of reverse engineering on the client and captured network packets has been needed to be done,
                    and even now there's still a lot that we don't know, and we're constantly working to learn more about LU's incredibly complex systems.</li>
                <li>Everything is being built from the ground up. The only things we can use are the RakNet networking library that LU uses, some database libraries, and other extremely generic utilities that are more for ease of programming than anything.</li>
                <li>There's only a few people working on it, and while they have a fair amount of software development experience, many are hobbyists or are still in school. On top of that, no one is working on this full-time, and sadly personal issues and
                    general lack of available time is common.</li>
            </ul>
            <h3>How can I play LU right now?</h3>
            <p>There are several open source projects that you can download and setup. Currently WLUS is the recommended one.</p>
            <ol>
                <li>Download a <a href="https://docs.google.com/document/d/1XmHXWuUQqzUIOcv6SVVjaNBm4bFg9lnW4Pk1pllimEg/edit">LEGO Universe Client</a></li>
                <li>Download <a href="https://github.com/wesleyd1124/WLUS/releases/tag/1.0">WLUS</a></li>
                <li>Extract WLUS and the LEGO Universe Client to seperate folders</li>
                <li>Double click __main__.exe in the WLUS folder</li>
				<li>Open the boot.cfg in the LEGO Universe Client folder and change AUTHSERVERIP to read 'AUTHSERVERIP=0:localhost,' (this may already be the case depending on the client)</li>
                <li>Launch LEGO Universe</li>
                <li>Login with the default username "wesley" and password "play"</li>
            </ol>
            <h3>What can I do to help?</h3>
            <p> If you have software development experience, you might want to try your hand at helping out one of the open source servers or development utilities linked below. You'll probably want to start out by taking a quick look over the LU Sytems Documentation
                (either via the original
                <a href="https://docs.google.com/document/d/1v9GB1gNwO0C81Rhd4imbaLN7z-R0zpK5sYJMbxPP3Kc/">Google Docs</a> or the
                <a href="http://lu-docs.readthedocs.io/en/latest/">Unofficial ReadTheDocs port</a>). Contributions to the documentation of any kind (through additional client or network reverse engineering, systems documentation, typo fixes, or anything else) are also helpful and are always appreciated.
                If you become comfortable with how LU servers operate and show competance in your development skills, more established projects may also be willing to take you on at that time (generally by invitation). You can also fork this project <a href="lusprojects.github.io">on GitHub</a> and submit a pull request if you wish to improve its content or functionality. </p>
            <p> Otherwise, your kind words and encouragement do wonders to keep all the developers encouraged to keep working at their hardest to bring back the game as close as possible to the original experience. </p>
        </div>
    </div>
    <div id="servers" class="py-4">
        <div class="container">
            <h2>Servers</h2>
            <hr>
            <h3>Hosted</h3>
            
            <div class="card-deck mx-auto" style="margin-bottom: 30px;">
                {% for server in site.hosted %}
                <div class="card">
                    <h4 class="card-header"> {{ server.name }} </h4>
                    <img class="card-img-middle" src="{{ server.image_path | absolute_url}}" alt="Card image cap">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Status: {{ server.status }}</li>
                        <li class="list-group-item">Language: {{ server.language }}</li>
                        <li class="list-group-item">Accepting Developers: {{ server.accepting_devs }}</li>
						<li class="list-group-item">Active Devs: {{ server.devs }}</li>
                    </ul>
                    <div class="card-footer">
                        {% for link in server.links %}
                        <a href="{{ link[1] }}" class="card-link" target="_blank"><i class="{{ link[2] }}"></i>  {{ link[0] }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <h3>Open Source</h3>
            <div class="card-columns mx-auto">
                {% for server in site.opensource %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"> {{ server.name }} </h4>
                        <div class="card-text"> {{ server.desc }} </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Status: {{ server.status }}</li>
                        <li class="list-group-item">Language: {{server.language}}</li>
                        {% if server.devs %}
						<li class="list-group-item">Active Devs: {{ server.devs }}</li>
                        {% elsif server.author %}
                        <li class="list-group-item">Author: {{ server.author }}</li>
                        {% endif %}
                    </ul>
                    <div class="card-footer">
                        {% for link in server.links %}
                        <a href="{{ link[1] }}" class="card-link" target="_blank"><i class="{{ link[2] }}"></i>  {{ link[0] }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="development-resources" class="py-4">
        <div class="container">
            <h2>Development Resources</h2>
            <hr>
            <div>
                <ul class="list-inline">
                    <li class="list-inline-item"><button class="btn active" id="All_tag" data-tagbtn="1" onclick="showAll()">All</button></li>
                    <li class="list-inline-item"><button class="btn" id="Research_tag" data-tagbtn="1" onclick="searchForTag('Research')">Research</button></li>
                    <li class="list-inline-item"><button class="btn" id="Networking_tag" data-tagbtn="1" onclick="searchForTag('Networking')">Networking</button></li>
                </ul>
            </div>
            <div>
                <div class="card-columns mx-auto">
                    {% for resource in site.devresources %}
                    <div class="card" data-tag="{{ resource.tag }}">
                        <div class="card-body">
                            <h4 class="card-title"> {{ resource.name }} </h4>
                            <div class="card-text"> {{ resource.desc }} </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Status: {{ resource.status }}</li>
                            <li class="list-group-item">Language: {{ resource.language }}</li>
							<li class="list-group-item">Author: {{ resource.author }}</li>
                        </ul>
                        <div class="card-footer">
                            {% for link in resource.links %}
                            <a href="{{ link[1] }}" class="card-link" target="_blank"><i class="{{ link[2] }}"></i>  {{ link[0] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            <div>
        </div>
    </div>
    <div id="contact-community" class="py-4">
        <div class="container">
            <h2>Community and Contact</h2>
            <hr>
            <ul>
                <li> For general discussion and questions, many fans and developers alike have congregated on the <a href="https://discord.gg/Yz8yEmZ">LEGO Universe Community Hub Discord server</a>. </li>
                <li> For this site and its specific contents, please see the <a href="https://github.com/lusprojects/lusprojects.github.io">GitHub repository</a> - feel free to <a href="https://github.com/lusprojects/lusprojects.github.io/issues">file an issue</a>. </li>
                <li> For individual projects, see the information in the relevant sections (<a href="#servers">Servers</a> or <a href="#development-resources">Development Resources</a>). </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <script>
		activeTag = "";
        function searchForTag(tag)
        {	
			$("[data-tagbtn]").removeClass("active");
			$("#"+tag+"_tag").toggleClass("active");
			if(activeTag != tag)
			{
				$("[data-tag]:not([data-tag~='"+tag+"'])").hide();
				$("[data-tag~='"+tag+"']").show();
				activeTag = tag;
			}
			else
			{
				showAll();
				activeTag = "";
			}
        }
        function showAll()
        {
            $("[data-tag]").show();
			$("[data-tagbtn]").removeClass("active");
			$("#All_tag").toggleClass("active");
        }
        function navigate() {
            var hash = $(this).attr('href');
            $('html,body').animate({
                'scrollTop': $(hash).offset().top
            }, 1000);
            $('.active').removeClass('active');
            var asr = $('#active-sr').remove();
            var active = $('[href="' + hash + '"]');
            active.append(asr);
            active.addClass('active');
        }

        $('nav a').click(navigate);
        try {
            navigate($('[href="' + window.location.hash + '"]'));
        } catch(e){}
    </script>
</body>

</html>
